/**
 * Print Styles - Optimized for PDF/Print output
 */

@media print {
  body * {
    visibility: hidden;
  }
  
  .cv-doc, .cv-doc * {
    visibility: visible;
  }
  
  .cv-doc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: auto;
    box-shadow: none;
    padding: 0.5in 0.75in;
  }
  
  @page {
    size: A4;
    margin: 0;
  }
}
